
/* 
    Feuille de style principale de Caviste
    Created on : 08-févr.-2020, 12:22:59
    Author     : 1909wanemri
*/

.container {
    border: 1px solid gray;
    background-color: white;
    margin: 20px;
    padding: 20px;
}

a.active::before {
    content: "\61e  "
}

header a#logo, header h1 {
    float: left;
}

header nav {
    float: right;
}

header + div {
    clear: both;
}

footer {
    text-align: center;
    border-top: 1px solid silver;
    margin: 15px 0;
}